body, html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #1d242b, #181b1e); 
}
.title {
  font-size: 100px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: auto;
  margin-left: 2%;
}

.intro_container{
  width: 800px;
  height: auto;
  padding: 5px 5px 10px 10px;
  border-radius: 10px;
  margin-left: 3%;
  color: white;
  background-color:#161b1f
}

.intro_header {
  font-size: 40px;
  font-weight: 600;
  margin-left: 1%;
  margin-bottom: 3%;
}

.intro_desc {
  margin-left: 1%;
  width: 750px;
  font-size: 20px;
  margin-bottom: 3%;
}

.bold-and-colored{
  color: #1f4e3e;
  font-weight: 600;
}

