body, html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #1d242b, #181b1e); 
}
.title {
  font-size: 100px;
}

.georgia_text {
    font-family: 'Georgia', serif;
    color: #2e614fd9
}